*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
/* FONT */
body{
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.img{
    width: calc(100%);
    /* height: 100px; */
    /* margin: 10px; */
    /* debug */
    /* background-color: cornflowerblue; */
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.ml-10{
    margin-left: 10px;
}

.ml-20{
    margin-left: 20px;
}
/* LAYOUT */
.mc-wrapper{
    width: 100%;
    height: 100vh;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* container */
.container{
    width: 100%;
    height: calc(100% - 100px);
    /* debug */
    /* border: 1px solid yellow; */
    /* background-color: yellow; */
}

/* NAV LEFT */
.nav-left{
    width: 200px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    /* debug */
    /* border: 1px solid blue; */
}

.upper-part{
    width: 100%;
}
/* logo */
.logo{
    padding: 10px 45px 15px 5px;
}

.logo-small{
    display: none;
}

/* menu */
.menu{
    align-items: center;
    padding: 5px;
}

.menu.home{
    border-left: 2px solid #adff2f;
}
.menu img{
    width: 25px;
}
.home .menu-text a{
    color: white;
}

.menu-text a{
    color: #717171;
}

/* playlist */
.playlist{
    margin-left: 5px;
    margin-top: 10px;
}
.playlist h4{
    color: white;
}
.playlist li{
    margin-bottom: 10px;
}
.playlist li a{
    color: #717171;
}
.crea-playlist span{
    vertical-align: 8px;
}
.crea-playlist a i{
    color: #a3a3a3;
    font-size: 2rem;
}

/* bottom */
.bottom{
    padding: 5px;
    margin: 0 10px;
}
.download{
    color: #717171;
    margin-bottom: 5px;
    justify-content: flex-start;
    align-items: center;
}
.download img{
    width: 15px;
    padding-right: 3px;
}

.bottom hr{
    color: #717171;
}

.profile{
    margin-top: 5px;
    justify-content: flex-start;
    align-items: center;
}
.profile img{
    width: 25px;
    height: 25px;
    background-color: #a3a3a3;
    border-radius: 50%;
    margin-right: 5px;
}
.profile h4{
    color: white;
}
/* CONTENT */
.content{
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
    /* debug */
    /* border: 1px solid brown; */
}

/* header */
.header{
    background-color: rgba(0, 0, 0, 0.4);
    width: calc(100% - 200px);
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.header a{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 50px;
    margin-right: 25px;
}

/* main content */
.main-content{
    margin-top: 110px;
}
.main-content ul{
    justify-content: center;
    gap: 10px;
}

.main-content a,
.main-content p{
    color: #717171;
}

.main-content hr{
    margin: 0 auto;
    width: 40%;
    color: #adff2f;
}

.main-content h2,
.main-content h4{
    color: white;
}

.card h4,
.card p{
    text-align: center;
}

.recently{
    gap: 10px;
}

.card{
    width: calc(100% / 6 - 20px);
    margin-left: 10px;
}

.card .img i{
    display: none;
}
/* player */
.player{
    width: 100%;
    height: 100px;
    background-color: #282828;
    /* debug */
    /* border: 1px solid aquamarine; */
    /* background-color: aquamarine; */
}

.section{
    height: 100%;
}
.left,
.right{
    width: 200px;
    /* debug */
    /* background-color: chartreuse; */
}

.md{
    width: calc(100% - 400px);
    color: white;
    /* debug */
    /* background-color: darkgoldenrod; */
}

.line{
    height: 4px;
    border-radius: 20px;
    background-color: #717171;
}

.white-part{
    position: relative;
    width: 30%;
    background-color: white;
    height: 100%;
    border-radius: 20px;
}

.button{
    display: none;
    color: white;
    position: absolute;
    right: 0;
}
/* left section */
.left{
    align-items: center;
    justify-content: space-between;
}
.song{
    align-items: center;
    font-size: .8rem;
}

.song h4{
    color: white;
}

.song p,
.left .entity{
    color: #717171;
}
.song img{
    width: 60px;
    height: 60px;
    padding: 10px;
}

/* md section */
.entity{
    justify-content: center;
}
.md .entity{
    font-size: 1.5rem;
    margin-top: 10px;
}

.song-duration{
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.time{
    width: 50%;
    /* margin: 0 auto; */
}

.time .button{
    top: -8px;
}
/* right section */
.right{
    align-items: center;
    font-size: .8rem;
    gap: 10px;
    color: white;
}

.sound{
    width: 50%;
}

.sound .button{
    top: -6px;
}
/* HOOVER */
.menu-text a:hover,
.playlist li a:hover,
.download p:hover,
.main-content li a:hover,
.song-info p:hover,
.left .entity i:hover{
    color: white;
}

.card .img:hover{
    cursor: pointer;
    position: relative;
}

.card .img img:hover{
    opacity: 0.4;
}

.card .img:hover i{
    display: block;
    position: absolute;
    color: white;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.song-info p:hover{
    text-decoration: underline;
}

.header .btn:hover{
    transform: scale(1.1);
}

.play-btn:hover{
    transform: scale(1.2);
}

.line:hover .white-part{
    background-color: #adff2f;
}

.line:hover .button{
    display: block;
}