*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
/* FONT */
body{
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.img{
    width: calc(100%);
    /* height: 100px; */
    /* margin: 10px; */
    /* debug */
    background-color: cornflowerblue;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}
/* LAYOUT */
.mc-wrapper{
    width: 100%;
    height: 100vh;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* container */
.container{
    width: 100%;
    height: calc(100% - 100px);
    /* debug */
    /* border: 1px solid yellow; */
    background-color: yellow;
}

/* NAV LEFT */
.nav-left{
    width: 200px;
    height: 100%;
    /* debug */
    /* border: 1px solid blue; */
    background-color: black;
}
/* logo */
.logo{
    padding: 10px 45px 15px 5px;
}

.logo-small{
    display: none;
}

/* menu */
.menu{
    align-items: center;
    padding: 5px;
}
.menu img{
    width: 25px;
}
.menu-text{
    color: white;
}

/* playlist */
.playlist{
    margin-left: 5px;
    margin-top: 10px;
}
.playlist h4{
    color: white;
}
.playlist li{
    color: #717171;
    margin-bottom: 10px;
}
.crea-playlist i{
    color: #a3a3a3;
    font-size: 2rem;
}

/* bottom */
.bottom{
    padding: 5px;
}
.download{
    color: #717171;
    margin-bottom: 5px;
    justify-content: flex-start;
    align-items: center;
}
.download img{
    width: 15px;
    padding-right: 3px;
}

hr{
    color: #717171;
}

.profile{
    margin-top: 5px;
    justify-content: flex-start;
    align-items: center;
}
.profile img{
    width: 25px;
    height: 25px;
    background-color: #a3a3a3;
    border-radius: 50%;
    margin-right: 5px;
}
.profile h4{
    color: white;
}
/* CONTENT */
.content{
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    /* debug */
    /* border: 1px solid brown; */
    background-color: brown;
}

.recently{
    gap: 10px;
}
.card{
    width: calc(100% / 6 - 10px);
}
/* header */
.header{
    background-color: rgba(0, 0, 0, 0.4);
    /* debug */
    height: 40px;
}
/* player */
.player{
    width: 100%;
    height: 100px;
    /* debug */
    /* border: 1px solid aquamarine; */
    background-color: aquamarine;
}

.section{
    height: 100%;
}
.left,
.right{
    width: 150px;
    /* debug */
    background-color: chartreuse;
}

.md{
    width: calc(100% - 300px);
    /* debug */
    background-color: darkgoldenrod;
}
